body {
    background-color: slategray;
}

#placeholder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transform: scale(0.5);
}

img {
    align-self: center;
    border: 10px solid #fff;
    margin: 30px;
    box-shadow: 1px 5px 10px black;
    border-radius: 1px;
    transition: all ease-in-out 0.7s;
}

img:hover{
    transform: scale(2);
    transition: all ease-in-out 0.5s;
}