@font-face {
    font-family: myFont;
    src: url(img/Varta-Bold.ttf);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
    list-style-type: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    height: 96px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 36px solid var(--cinzaClaro);
}

.logotipoNike {
    position: absolute;
    width: 76px;
    height: auto;
    left: 40px;
    top: -8px;
}

.divLogotipoNike {
    position: relative;
    height: 100%;
    width: 250px;
}

.utilidadesCabecalho {
    position: relative;
    height: 100%;
    width: 350px;
}

:root {
    --cinzaClaro: #f5f5f5;
    --cinzaEscuro: #cacacb;
}

.dropdown {
    display: flex;
    flex-direction: row;
    margin: 0px 14px;
    font-size: 18px;
    position: relative;
}

#dropdown {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55px;
    width: 700px;
    left: 50%;
    margin-left: -250px;
}

#imgBody {
    width: 100%;
    height: calc(100vh - 96px);
    object-fit: cover;
}

.utilidadesCabecalho {
    display: grid;
    position: absolute;
    right: 0;
}

.pesquisaFundo {
    background-color: var(--cinzaClaro);
    border-radius: 24px;
    position: absolute;
    top: 11.8px;
    right: 140px;
    width: 170px;
    height: 36px;
    padding-left: 6.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10010;
}

.pesquisaFundo:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    background: none;
    height: 35px;
    width: 90px;
    margin-left: 10px;
    font-size: 16.6px;
    cursor: text;
    padding-top: 4px;
}

#favorito {
    position: absolute;
    right: 88px;
    top: 12px;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
}

#favorito:hover {
    background-color: var(--cinzaEscuro);
}

#carrinho {
    position: absolute;
    right: 48px;
    top: 12px;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
}

#carrinho:hover {
    background-color: var(--cinzaEscuro);
}

.dropdown-menu {
    display: none;
    position: fixed;
    background-color: white;
    padding: 45px 250px 60px 250px;
    top: 80px;
    left: 0px;
    width: 100%;
    opacity: 0;
    z-index: 10000;
    box-shadow: 0 10px 7px -6px rgba(0, 0, 0, 0.2);
    animation: fadeInDropdown 300ms forwards;
}

@keyframes fadeInDropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu li {
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInText 400ms forwards;
}

.dropdown-menu li {
    animation-delay: calc(0.2s * (n - 1));
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

#barraDePesquisa {
    position: fixed;
    width: 100%;
    height: 337px;
    top: 0;
    right: 0px;
    background-color: white;
    animation: animaBarraDePesquisa 1s;
    z-index: 10011;
    padding: 40px;
}

#x {
    position: absolute;
    top: 19px;
    right: 48px;
}

#x:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes animaBarraDePesquisa {
    0% {
        right: 190px;
        width: 0;
        top: 40px;
    }

    30% {
        right: 0;
        width: 100%;
    }

    50% {
        top: 40px;
    }

    100% {
        top: 0;
    }
}

#nikeIcon2 {
    position: relative;
    top: -66px;
    left: -13px;
    width: 105px;
    height: auto;
}

button {
    background: none;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -1px;
    font-size: 18px;
}

#inputBarraDePesquisa {
    background-color: var(--cinzaClaro);
    width: 59%;
    position: absolute;
    left: 49.5%;
    top: 13px;
    margin-left: -29.5%;
    border-radius: 40px;
    height: 36px;
    padding-left: 39px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#inputBarraDePesquisa:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#lupaBarraDePesquisa {
    position: absolute;
    top: 12px;
    left: 20%;
    z-index: 9000;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
    background-color: var(--cinzaClaro);
}

#lupaBarraDePesquisa:hover {
    background-color: var(--cinzaEscuro);
}

#itensBarraDePesquisa {
    position: absolute;
    left: 19.8%;
    top: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 66%;
    width: auto;
    animation: fadeInText 400ms forwards;
}

.itemBarraDePesquisa:hover {
    color: rgba(0, 0, 0, 0.5);
}

#itensBarraDePesquisa:not(:first-child) {
    font-size: 26px;
    font-weight: 100;
}

#temasPopulares {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

#pesquisarBarraDePesquisa {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 3px;
    padding-left: 2px;
}

#pesquisarBarraDePesquisa:hover {
    cursor: text;
}

#lupaItemPesquisa {
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
    margin-left: -7px;
    background-color: var(--cinzaClaro);
}

#lupaItemPesquisa:hover {
    background-color: var(--cinzaEscuro);
}

#imgNike {
    width: 100%;
    max-height: calc(100vh - 96px);
    object-fit: cover;
    object-position: top;
}

@keyframes pulsar1 {
    0% {
        top: 25%;
    }

    100% {
        top: 26%;
    }
}

#botaoDescer {
    width: 15px;
    scale: 4;
    position: absolute;
    left: 6%;
    transition: all ease-in-out 100ms;
    z-index: 9999;
    cursor: pointer;
    top: 25%;
    opacity: 0.9;
    cursor: pointer;
    animation: pulsar1 1s alternate infinite;
}

#botaoSubir {
    width: 25px;
    height: 20px;
    scale: 3.9;
    position: absolute;
    right: 6%;
    transition: all ease-in-out 100ms;
    z-index: 9999;
    top: 25%;
    cursor: pointer;
    animation: pulsar1 1s alternate infinite;
    cursor: pointer;
}

@keyframes pulsar2 {
    0% {
        top: 26%;
    }

    100% {
        top: 25%;
    }
}

#botaoSubir:hover {
    top: 24.5%;
    animation: pulsar2 1s alternate infinite;
}

#botaoDescer:hover {
    top: 25.5%;
    animation: pulsar2 1s alternate infinite;
}

@font-face {
    font-family: myFont;
    src: url(Varta-Bold.ttf);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
    list-style-type: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    height: 96px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 36px solid var(--cinzaClaro);
}

.logotipoNike {
    position: absolute;
    width: 76px;
    height: auto;
    left: 40px;
    top: -8px;
}

.divLogotipoNike {
    position: relative;
    height: 100%;
    width: 250px;
}

.utilidadesCabecalho {
    position: relative;
    height: 100%;
    width: 350px;
}

:root {
    --cinzaClaro: #f5f5f5;
    --cinzaEscuro: #cacacb;
}

.dropdown {
    display: flex;
    flex-direction: row;
    margin: 0px 14px;
    font-size: 18px;
    position: relative;
}

#dropdown {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55px;
    width: 700px;
    left: 50%;
    margin-left: -250px;
}

#imgBody {
    width: 100%;
    height: calc(100vh - 96px);
    object-fit: cover;
}

.utilidadesCabecalho {
    display: grid;
    position: absolute;
    right: 0;
}

.pesquisaFundo {
    background-color: var(--cinzaClaro);
    border-radius: 24px;
    position: absolute;
    top: 11.8px;
    right: 140px;
    width: 170px;
    height: 36px;
    padding-left: 6.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10010;
}

.pesquisaFundo:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

input {
    background: none;
    height: 35px;
    width: 90px;
    margin-left: 10px;
    font-size: 16.6px;
    cursor: text;
    padding-top: 4px;
}

#favorito {
    position: absolute;
    right: 88px;
    top: 12px;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
}

#favorito:hover {
    background-color: var(--cinzaEscuro);
}

#carrinho {
    position: absolute;
    right: 48px;
    top: 12px;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
}

#carrinho:hover {
    background-color: var(--cinzaEscuro);
}

.dropdown-menu {
    display: none;
    position: fixed;
    background-color: white;
    padding: 45px 250px 60px 250px;
    top: 80px;
    left: 0px;
    width: 100%;
    opacity: 0;
    z-index: 10000;
    box-shadow: 0 10px 7px -6px rgba(0, 0, 0, 0.2);
    animation: fadeInDropdown 300ms forwards;
}

@keyframes fadeInDropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu li {
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInText 400ms forwards;
}

.dropdown-menu li {
    animation-delay: calc(0.2s * (n - 1));
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

#barraDePesquisa {
    position: fixed;
    width: 100%;
    height: 337px;
    top: 0;
    right: 0px;
    background-color: white;
    animation: animaBarraDePesquisa 1s;
    z-index: 10011;
    padding: 40px;
}

#x {
    position: absolute;
    top: 19px;
    right: 48px;
}

#x:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes animaBarraDePesquisa {
    0% {
        right: 190px;
        width: 0;
        top: 40px;
    }

    30% {
        right: 0;
        width: 100%;
    }

    50% {
        top: 40px;
    }

    100% {
        top: 0;
    }
}

#nikeIcon2 {
    position: relative;
    top: -66px;
    left: -13px;
    width: 105px;
    height: auto;
}

button {
    background: none;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -1px;
    font-size: 18px;
}

#inputBarraDePesquisa {
    background-color: var(--cinzaClaro);
    width: 59%;
    position: absolute;
    left: 49.5%;
    top: 13px;
    margin-left: -29.5%;
    border-radius: 40px;
    height: 36px;
    padding-left: 39px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#inputBarraDePesquisa:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#lupaBarraDePesquisa {
    position: absolute;
    top: 12px;
    left: 20%;
    z-index: 9000;
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
    background-color: var(--cinzaClaro);
}

#lupaBarraDePesquisa:hover {
    background-color: var(--cinzaEscuro);
}

#itensBarraDePesquisa {
    position: absolute;
    left: 19.8%;
    top: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 66%;
    width: auto;
    animation: fadeInText 400ms forwards;
}

.itemBarraDePesquisa:hover {
    color: rgba(0, 0, 0, 0.5);
}

#itensBarraDePesquisa:not(:first-child) {
    font-size: 26px;
    font-weight: 100;
}

#temasPopulares {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

#pesquisarBarraDePesquisa {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 3px;
    padding-left: 2px;
}

#pesquisarBarraDePesquisa:hover {
    cursor: text;
}

#lupaItemPesquisa {
    width: 36.5px;
    height: auto;
    padding: 6px;
    border-radius: 30px;
    margin-left: -7px;
    background-color: var(--cinzaClaro);
}

#lupaItemPesquisa:hover {
    background-color: var(--cinzaEscuro);
}

#imgNike {
    width: 100%;
    max-height: calc(100vh - 96px);
    object-fit: cover;
    object-position: top;
}

@keyframes pulsar1 {
    0% {
        top: 25%;
    }

    100% {
        top: 26%;
    }
}

#botaoDescer {
    width: 15px;
    scale: 4;
    position: absolute;
    left: 6%;
    transition: all ease-in-out 100ms;
    z-index: 9999;
    cursor: pointer;
    top: 25%;
    opacity: 0.9;
    cursor: pointer;
    animation: pulsar1 1s alternate infinite;
}

#botaoSubir {
    width: 25px;
    height: 20px;
    scale: 3.9;
    position: absolute;
    right: 6%;
    transition: all ease-in-out 100ms;
    z-index: 9999;
    top: 25%;
    cursor: pointer;
    animation: pulsar1 1s alternate infinite;
    cursor: pointer;
}

@keyframes pulsar2 {
    0% {
        top: 26%;
    }

    100% {
        top: 25%;
    }
}

#botaoSubir:hover {
    top: 24.5%;
    animation: pulsar2 1s alternate infinite;
}

#botaoDescer:hover {
    top: 25.5%;
    animation: pulsar2 1s alternate infinite;
}
